{% extends "base.html" %}
{% load static %}
{% block title %} About {% endblock title %}



{% block body %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-col">
    <div class="lg:w-4/6 mx-auto">
      <div class="rounded-lg h-64 overflow-hidden">
        <img alt="content" class="object-cover object-center h-full w-full" src={% static 'images/comapny-ahbricks.jpg' %}>
      </div>
      
      <div class="flex flex-col sm:flex-row mt-10">
        <div class="sm:w-1/3 text-center sm:pr-8 sm:py-8">
          <div class="w-20 h-20 rounded-full inline-flex items-center justify-center bg-gray-200 text-gray-400">
            <img src="{% static 'logo.png' %}" alt="logo">
          </div>
          <div class="flex flex-col items-center text-center justify-center">
            <h2 class="font-medium title-font mt-4 text-gray-900 text-lg">Md Suhel Aktar</h2>
            <div class="w-12 h-1 bg-indigo-500 rounded mt-2 mb-4"></div>
            <p class="text-base">I am the proprietor of this company. I have diverse knowledge and experience in building materials because I started constructing buildings in 1995.</p>
          </div>
        </div>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14770.81983397456!2d85.0105818!3d22.2512705!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a1ff41b7e86a31d%3A0x5d86ad9bbaf52c10!2sA.H.%20Bricks!5e0!3m2!1sen!2sin!4v1715837494240!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="sm:pl-8 sm:py-8 sm:border-l border-gray-200 sm:border-t-0 border-t mt-4 pt-4 sm:mt-0 text-center sm:text-left">
          <p class="leading-relaxed text-lg mb-4">Md Suhel Aktar has very much experience in the quality construction of buildings. He made almost 150+ buildings under his supervision and always get praised for his work. He also did the apartment work, Electrical work, Plumber, and many more. Engineers also contact him for different problems. His father was involved with the same(construction) and his brother also took the market by doing great work. He switched his business after feeling the need for quality products. Now he is working on it and owns a factory of fly ash bricks in Purnabisra near a fire station.</p>
          <a href="tel:+91 7008507858">
            <button class="text-indigo-500 inline-flex items-center">Contact Us
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </button>
          </a>
        </div>
        
    </div>
    
  </div>
</section>

{% endblock body %}
