{% extends "base.html" %}

{% block title %} Home {% endblock title %}



{% block body %}
<section class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex px-5 py-24 items-center justify-center flex-col">
    <img class="lg:w-2/6 md:w-3/6 w-5/6 mb-10 object-cover object-center rounded" alt="hero" src="https://source.unsplash.com/720x600/?bricks,construction">
    <div class="text-center lg:w-2/3 w-full">
      <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-white">Building Strength, Building Security: Your One-Stop Shop for Construction Essentials</h1>
      <p class="leading-relaxed mb-8">Crafted with uncompromising strength, our high-quality bricks deliver lasting durability at competitive prices. Build your vision on a solid foundation - contact us today to discuss your project.</p>
      <div class="flex justify-center">
	  <a href="tel:+917008507858">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Contact Now</button>
	</a>

   <a href="mailto:akhtarmdsohail476@gmail.com">
        <button class="ml-4 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-700 rounded text-lg">Mail us</button>
	</a>
        {% comment %} <button class="ml-4 inline-flex text-gray-400 bg-gray-800 border-0 py-2 px-6 focus:outline-none hover:bg-gray-700 hover:text-white rounded text-lg">Button</button>  {% endcomment %}
      </div>
    </div>
  </div>
</section>
{% endblock body %}