{% extends "base.html" %}
{% load static %}
{% block title %} Services {% endblock title %}



{% block body %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Services we Offer</h1>
        <div class="h-2 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">At A.H. Bricks, we offer a comprehensive selection of high-quality construction materials to meet all your building needs. From foundations to finishes, we're your one-stop shop for a successful project.  We understand budget constraints, and our team is happy to discuss cost-effective solutions to keep your project on track.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'images/bricks.jpg' %}" alt="Bricks">
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Bricks</h2>
          <p class="leading-relaxed text-base">Our Fly Ash Bricks are a revolutionary choice for eco-conscious builders. Made from a unique blend of fly ash, sand, and cement, these bricks boast exceptional hardness that actually improves over time – unlike traditional bricks. Free of harmful chemicals, they contribute to a healthier environment while delivering superior structural integrity for your project.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'images/aggregate_stones.jpg' %}" alt="Chips">
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Chips</h2>
          <p class="leading-relaxed text-base">We offer high-quality aggregate stones, sourced from the renowned Gotidhara quarries, known for their exceptional roundness ideal for construction.  Understanding project budget variations, we can also source stones from alternative crushers to meet your specific needs.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'images/sand.jpg' %}" alt="Sand">
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Sand</h2>
          <p class="leading-relaxed text-base">Sourced from the trusted sand ghats near Bisra, we offer a variety of sand particle sizes – small, medium, and large – to perfectly suit your construction needs. Whether you require fine sand for plastering or coarse sand for concrete, we provide high-quality options at competitive prices.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'images/cement.jpg' %}" alt="Cement">
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Cement</h2>
          <p class="leading-relaxed text-base">As a leading cement dealer with over 200 satisfied customers, we offer a wide selection of high-quality cements at competitive prices. We're authorized dealers for 2 major cement companies and trusted traders for over 5 additional brands.  Our commitment to quality and affordability ensures you have the right materials to build strong and lasting structures. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'images/tmtbar.jpg' %}" alt="Tmt bar">
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Tmt Bar</h2>
          <p class="leading-relaxed text-base">We offer high-strength TMT (Thermo Mechanically Treated) bars for superior structural stability in your project.  These bars are renowned for their enhanced ductility and weldability, ensuring a reliable and long-lasting foundation.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'images/water-tanker.jpg' %}" alt="Water Tanker">
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Water Tanker</h2>
          <p class="leading-relaxed text-base">Don't let water shortages slow down your construction project. We provide prompt and dependable water tanker services, ensuring a consistent supply of clean water for mixing concrete and other construction needs</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'images/plywood.jpg' %}" alt="Plywood and Furniture Items">
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Plywood and Furniture Items</h2>
          <p class="leading-relaxed text-base">We offer a comprehensive selection of high-quality plywood and furniture to complete your project. Choose from a variety of plywood options for dependable substructures, and explore our furniture selection to bring your vision to life.  Visit our showroom or contact us to discuss your specific requirements.</p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
