{% extends "base.html" %}
{% load static %}
{% block title %} Services {% endblock title %}



{% block body %}
<section class="text-gray-600 body-font">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Services we Offer</h1>
        <div class="h-2 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500">We offer almost all of the materials that are required in the construction of a building. We offer high-quality products. Feel free to contact me if you are running low on budget. We do have ways to decrease your burden.</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'bricks.png' %}" alt="Bricks">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Bricks</h2>
          <p class="leading-relaxed text-base">Fly Ash Bricks with quality content inside it. No Chemicals are used in its manufacturing. We produce original forms of bricks with a mixture of fly ash, sand, and cement. The hardness increases with time, unlike other bricks.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'chips.png' %}" alt="Chips">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Chips</h2>
          <p class="leading-relaxed text-base">We bring it specially from Gotidhara. They are special because of their roundness in shape. If you are going low on budget, We can bring from another crusher, dont hesitate about your problems. </p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'sand.png' %}" alt="Sand">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Sand</h2>
          <p class="leading-relaxed text-base">A lot of Ghats are on the outskirts of Bisra. We provide small, medium, and big sand particles at minimum cost so you can use them according to your needs.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'Cement.png' %}" alt="Cement">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Cement</h2>
          <p class="leading-relaxed text-base">Dealer in 2 cement companies and a trader in 5+ companies. We are strong cement dealers with 200+ customers. </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="text-gray-600 body-font">
  <div class="container px-5 py-5 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'Tmt bar.png' %}" alt="Tmt bar">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Tmt Bar</h2>
          <p class="leading-relaxed text-base">Fly Ash Bricks with quality content inside it. No Chemicals are used in its manufacturing. We produce original forms of bricks with the mixture of fly ash, sand and cement. The hardness increases with time unlike other bricks.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'Water Tanker.png' %}" alt="Water Tanker">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Water Tanker</h2>
          <p class="leading-relaxed text-base">A lot of Ghats are in the outskirts of Bisra. We provide small, medium and big sand particles in minimum cost so you can use it according to the needs.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'Plywood and Furniture Items.png' %}" alt="Plywood and Furniture Items">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Plywood and Furniture Items</h2>
          <p class="leading-relaxed text-base">Dealer in 2 cement companies and trader in more than 5 companies. We are strongful cement dealers with more than 200 customers. </p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="{% static 'Electrical Items.png' %}" alt="Electrical Items">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font">SUBTITLE</h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Electrical Items</h2>
          <p class="leading-relaxed text-base">We bring it specially from Gotidhara. They are special because of their roundness in shape. If you are low on budget, We can bring from another crusher, dont hesitate about your problems. </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock body %}
